

<div id="profile-container">
  
  <div class="user-info">
    <ul>
      <li>
        <img class = "box-shadow" src="http://img3.wikia.nocookie.net/__cb20111014130411/mylittlebrony/images/a/a9/250px-AppleBloomSquare.png">
      </li>
      <li class="li-text bold"><%= @user.username %></li>
      <li class="li-text">2 hours ago</li>
    </ul>
  </div>
  
  <div class="user-imgs box-shadow">
    <div class = "thumbnails">
      <ul> 
        <% @user_photos.each do |user| %>
          <img src="<%= user.images.standard_resolution.url %>">
        <% end %>
        
          <li>
            <img class="box-shadow" src="<%= @user.profile_picture %>">
          </li>
      </ul>
    </div>
  </div>

</div><!-- .profile-container -->



