<div id="profile-container">
  
  <div class="user-info">
    <ul>
      <li>
        <img class = "box-shadow" src="<%= @user.profile_picture %> "</li>
      <li class="li-text bold"><%= @user.username %></li>
      
    </ul>
  </div>
  
  <div class="user-imgs box-shadow">
    <div class = "thumbnails">
      <ul> 
        
        <%= @user.user_recent_media do %>
          <li>
            <img class="box-shadow" src="<%= @user.profile_picture %>">
          </li>
        <% end %>
      </ul>
    </div>
  
  </div>