<div id="map-canvas"></div>

<div class="sidebar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form class="form-horizontal" role="form">
          <div class="form-group filters-section">
            <label for="inputEmail3" class="col-sm-2 control-label text-left">Radius</label>
            <div class="col-sm-10">
              <div id="radius-slider">
                <div id="slider"></div>
                <p class="min-radius">
                  <span class="text-muted">DISTANCE:</span>
                  <input type="text" readonly id="radius" class="bold" value="" placeholder="10 KM"/>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mtm">
      <div class="col-md-6">
        <div class="thumbnail">
          <div class="media-photo">
            <img src="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/1516107_1448578188693749_870359613_n.jpg" alt="...">
          </div>
          <div class="caption">
            <div class="media">
              <a class="avatar pull-left" href="#">
                <img class="img-rounded thumb-sm" src="https://a0.muscache.com/ic/users/3603284/profile_pic/1401338888/original.jpg" alt="...">
              </a>
              <div class="media-body text-muted">
                <p class="bold">Sharnie Ivery</p>
                <p>Sharnie Ivery</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>