<div id="map-canvas"></div>

<div class="sidebar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form class="form-horizontal" role="form">
          <div class="form-group filters-section">
            <label for="inputEmail3" class="col-sm-2 control-label text-left">Radius</label>
            <div class="col-sm-10">
              <div id="radius-slider">
                <div id="slider"></div>
                <p class="min-radius">
                  <span class="text-muted">DISTANCE:</span>
                  <input type="text" readonly id="radius" class="bold" value="" placeholder="10 KM"/>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="mtm">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="media-head">
              <img src="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/1516107_1448578188693749_870359613_n.jpg" alt="...">
              <span class="caption">Some really caption text</span>
            </div>
            <div class="media-foot">
              <div class="col-xs-8">
                <div class="row">
                  <div class="media">
                    <a class="avatar pull-left" href="#">
                      <img class="thumb-sm" src="https://a0.muscache.com/ic/users/3603284/profile_pic/1401338888/original.jpg" alt="...">
                    </a>
                    <div class="media-user text-muted">
                      <a class="bold username text-ellipsis" href="#">my_awesome_username</a>
                      <p class="text-ellipsis">Sharnie Ivery</p>
                    </div>
                  </div><!-- .media -->
                </div><!-- .row -->
              </div><!-- .col-xs-* -->
              <div class="col-xs-4">
                <div class="row">
                  <div class="pull-right">
                  <button class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-user"></i>
                  </button>
                  </div>
                </div>
              </div>
            </div><!-- .caption -->
          </div><!-- .thumbnail -->
        </div><!-- col-md-6-* -->

        <div class="col-md-4">
          <div class="thumbnail">
            <div class="media-head">
              <img src="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/1516107_1448578188693749_870359613_n.jpg" alt="...">
              <span class="caption">Some really caption text</span>
            </div>
            <div class="media-foot">
              <div class="col-xs-8">
                <div class="row">
                  <div class="media">
                    <a class="avatar pull-left" href="#">
                      <img class="thumb-sm" src="https://a0.muscache.com/ic/users/3603284/profile_pic/1401338888/original.jpg" alt="...">
                    </a>
                    <div class="media-user text-muted">
                      <a class="bold username text-ellipsis" href="#">my_awesome_username</a>
                      <p class="text-ellipsis">Sharnie Ivery</p>
                    </div>
                  </div><!-- .media -->
                </div><!-- .row -->
              </div><!-- .col-xs-* -->
              <div class="col-xs-4">
                <div class="row">
                  <div class="pull-right">
                  <button class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-user"></i>
                  </button>
                  </div>
                </div>
              </div>
            </div><!-- .caption -->
          </div><!-- .thumbnail -->
        </div><!-- col-md-6-* -->

        <div class="col-md-4">
          <div class="thumbnail">
            <div class="media-head">
              <img src="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/1516107_1448578188693749_870359613_n.jpg" alt="...">
              <span class="caption">Some really caption text</span>
            </div>
            <div class="media-foot">
              <div class="col-xs-8">
                <div class="row">
                  <div class="media">
                    <a class="avatar pull-left" href="#">
                      <img class="thumb-sm" src="https://a0.muscache.com/ic/users/3603284/profile_pic/1401338888/original.jpg" alt="...">
                    </a>
                    <div class="media-user text-muted">
                      <a class="bold username text-ellipsis" href="#">my_awesome_username</a>
                      <p class="text-ellipsis">Sharnie Ivery</p>
                    </div>
                  </div><!-- .media -->
                </div><!-- .row -->
              </div><!-- .col-xs-* -->
              <div class="col-xs-4">
                <div class="row">
                  <div class="pull-right">
                  <button class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-user"></i>
                  </button>
                  </div>
                </div>
              </div>
            </div><!-- .caption -->
          </div><!-- .thumbnail -->
        </div><!-- col-md-6-* -->
      </div>
    </div><!-- .mtm -->

  </div>
</div>